#feature{
	.container{
		.row{
			.col-12{
				.hr{
					background:$colorBlue;
					position: relative;
					width: 100px;
					height: 2px;
                    &:after{
						content: "";
						transform: rotate(45deg);
						position: absolute;
						height: 12px;
						width: 12px;
						left: 45%;
						top: -5px;
						background:$colorBlue;
					 }
					
				}
			}
		}
		.row{
			.col-lg-4{
				.col-12{
					box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
					position: relative;
					transition: all 0.3s ease;
					h3{
						font-weight: 400;
						font-size: 40px;
					}
					.icon{
						position: absolute;
						top: -20px;
						left:42%;
						background: black;
						height: 50px;
						width: 50px;
						
						color:white;
						.in-icon{
							height: 25px;
							width: 25px;
							border:1px solid white;
						}
					}
					&:hover{
						box-shadow: 0 10px 25px rgba(0, 0, 0, 0.14);
						transition: all 0.3s ease;
						.icon{
							background: $colorBlue;


						}
					}
					
				}
			}
			

		}

	}
}